<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TREE ABR</title>
    <!-- font awesome cdn link -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-
awesome/5.15.2/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <!-- custom css file link -->
    <link rel="stylesheet" href="style.css" />
  </head>
<%- include('navbar') %>
<section class="about" id="about">
    <h1 class="heading">
      <i class="fas fa-quote-left"></i> Contact us
      <i class="fas fa-quote-right"></i>
    </h1>
    <div class="row">
      <div class="image">
        <img
          src="../Data base IMAGES 8.9.23/Home page/High altitute/IMG_4315.JPG"
          alt=""
        />
      </div>
      <div class="content">
        <h3>together we can save the planet</h3>
        <p>
 Dr. P. Ravichandran                                                                       
Research supervisor
Professor and Head 
Department of Plant Science
Manonmaniam Sundaranar University
Abishekapatti -627012
Mobile: 9442640072
Email. grassravi@msuniv.ac.in

        </p>
        <a href="mailto:grassravi@msuniv.ac.in"><button class="btn">Contact</button></a>
        <p>
 Mr. S. Vijay Sharma 
Research Scholar 
Department of Plant Science
Manonmaniam Sundaranar University
Abishekapatti -627012
Mobile: 9500274623
        </p>
        <a href="mailto:vijaysharmabdu@gmail.com"><button class="btn">Contact</button></a>
      </div>
    </div>
    </section>
    <%- include('footer') %>
</html>