<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TREE ABR</title>
    <!-- font awesome cdn link -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-
awesome/5.15.2/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <!-- custom css file link -->
    <link rel="stylesheet" href="style.css" />
  </head>
<%- include('navbar') %>
<section class="about" id="about">
    <h1 class="heading">
      <i class="fas fa-quote-left"></i> Contact us
      <i class="fas fa-quote-right"></i>
    </h1>
    <div class="row">
      <div class="image">
        <img
          src="contact.jpg"
          alt=""
        />
      </div>
      <div class="content">
        <h3>together we can save the planet</h3>
        <p>
<b><strong> Dr. P. Ravichandran </b> </strong>,                                                                      
Research supervisor <br>
Professor and Head ,
Department of Plant Science ,
Manonmaniam Sundaranar University <br>
Abishekapatti -627012 <br>
 <b><i>Mobile: 9442640072 <br>
Email. grassravi@msuniv.ac.in
</i></b>
        </p>
        <a href="mailto:grassravi@msuniv.ac.in"><button class="btn">Contact</button></a>
        <p>
 <b>Mr. S. Vijay Sharma </b>, 
Research Scholar <br>
Department of Plant Science ,
Manonmaniam Sundaranar University <br>
Abishekapatti -627012 <br>
<b><i>Mobile: 9500274623 
  <br> Email : vijaysharmabdu@gmail.com
</i></b>
        </p>
        <a href="mailto:vijaysharmabdu@gmail.com"><button class="btn">Contact</button></a>
      </div>
    </div>
    </section>
    <%- include('footer') %>
</html>