
<%- include('navbar') %>
<head>
<title>Credits | Grass of Tamilnadu</title>
</head>
<section class="about" id="about">
    <h1 class="heading">
      <i class="fas fa-quote-left"></i> Acknowledgement
      <i class="fas fa-quote-right"></i>
    </h1>
    <div class="row">
      <div class="content">
      <center> <h3>Together we Grow ..</h3> </center>
        <p>
          I want to sincerely thank <b>Research Supervisor Dr. P. Ravichandran </b>, Professor and Head, for his perseverance, encouragement, and tremendous expertise in helping to create a database of grasses. Throughout the entire study process, his advice was helpful.I would to thank my Doctoral committee members for giving valuable suggestion to making this database. And also, Thanks to Department of Plant Science, Manonmaniam Sundaranar University.
        <br>
        </p>
        <center>
            <h3>Note to the Website Vistors</h3>
        <p class="acon">
            VIJAY SHARMA S. PERUMAL RAVICHANDRAN 2023 onwards. Grassbaseabr or grassfloraabr. Facilitated by Lab of Agrostology, Department of Plant Science, Manonmaniam Sundaranar University, Tirunelveli , Tamil Nadu.
            <br>

The images in this website are the property of the authors.
<br>
The author's photos can be freely used for educational/teaching purposes withadequate full citation. If you wish to use any photos from this website in the public domain, please contact and get permission  from  <b> Dr. P. RAVICHANDRAN and S. VIJAY SHARMA </b>

        </p>
        <a href="mailto:vijaysharmabdu@gmail.com"><button class="btn">Contact me</button></a>
      </center>
      </div>
    </div>
    </section>
    <%- include('footer') %>
</html>