<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TREE ABR</title>
    <!-- font awesome cdn link -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-
awesome/5.15.2/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <!-- custom css file link -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <!-- donate section starts -->
    <section class="donate" id="donate">
      <h1 class="heading">
        <i class="fas fa-quote-left"></i> donate us
        <i class="fas fa-quote-right">               Thanks for your Heartly Support</i>
      </h1>
      <div class="form-container">
        <div>
          <h1 class="h">We are Accepting Donations</h1>
          <h2 class="hy">Gpay :     </h2>
          <br>
          <h2 class="hy">Bank account no :    
            <br> 
            IFSC code :
            <br>
            Account Holder Name :
          </h2>
          <br><br>
          <p class="ch">
            Donations play a pivotal role in fostering growth and positive
            change in various aspects of our society. When individuals or
            organizations contribute their resources, whether it's money, goods,
            or time, they are essentially sowing the seeds of progress.
            Donations enable the expansion of essential services and support for
            those in need, such as funding medical research, providing
            educational opportunities, and addressing social and environmental
            issues. By pooling resources, communities can develop stronger
            infrastructures, create innovative solutions to complex problems,
            and empower marginalized populations. Donations also encourage a
            culture of philanthropy, inspiring others to contribute and
            amplifying the impact of collective generosity. In essence,
            donations are the lifeblood of progress, nurturing a brighter future
            for individuals and society as a whole.
          </p>
        </div>
      </div>
    </section>
    <!-- donate section ends -->
    <%- include('footer') %>
  </body>
</html>
