    <!-- footer section starts -->
    <html>
      <head>
        <link rel="stylesheet" href="style.css">
      </head>
    <section class="footer">
        <div class="box-container">
          <div class="box">
            <a href="#" class="logo"><i class="fas fa-seedling"></i>GRASSES OF TAMILNADU</a>
            <p>
                Progress towards a Sustainable future
            </p>
            <a href="https://formsubmit.co/el/binobu" target="_blank" class="maillink"><h1>Email us</h1></a>
            <br>
            <a href="/Donate" class="maillink"><h1>donate</h1></a></li>
            <br>
          </div>
          <div class="box">
            <h3 class="share">share</h3>
            <a href="#">facebook</a>
            <a href="#">instagram</a>
          </div>
          <div class="box">
            <h3 class="letter">newsletter</h3>
            <form action="" method="POST">
              <input type="email" name="email" placeholder="enter your email" />
              <button type="submit" class="fas fa-paper-plane"></button>
            </form>
          </div>
        </div>
        <h1 class="credit">
          Crafted by <span> CloudsBySunil </span> | all rights reserved
          <br>
          All Rights reserved 2024
          <br>
          Innovation of <span> Grasses ABR </span>
        </h1>
      </section>
      </html>