<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GRASSES OF TAMILNADU</title>
    <!-- font awesome cdn link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-
awesome/5.15.2/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <!-- custom css file link -->
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <!-- home section starts -->
    <section class="home" id="home">
      <div class="content">
        <h1 class="ho">GRASSES OF AGASTHYAMALAI BIOSPHERE RESERVE (ABR)</h1>
        <p>
          Helping Students, Researchers and enthusiasts identify a species and bettering their comprehension of this fascinating family of monocots
        </p>
        <a href="#"><button class="btn">explore.</button></a>
      </div>
    </section>
    <!-- home section ends -->
    <!-- about section starts -->
    <section class="about" id="about">
      <h1 class="heading">
        <i class="fas fa-quote-left"></i> About the Site 
        <i class="fas fa-quote-right"></i>
      </h1>
      <div class="row">
        <div class="image">
          <img
            src="Data base IMAGES 8.9.23/Home page/High altitute/IMG_4315.JPG"
            alt=""
          />
        </div>
        <div class="content">
          <h3>What we do ?</h3>
          <p>
            The Grassesand Grasslands in ABR are included in this database.  It was produced using field information, observations, documentation, and bibliographical reviews. It may also have some errors and omissions. The database on this website, which is constantly being updated, will contain all grass species that have been documented.
            The grass database was used to research the grasses and grasslands in the Agasthyamalai Biosphere Reserve, and it mainly concentrated on the morphology, descriptions, and classifications of grasses in Tamil Nadu and Kerala. It comprises of field characters that may be used to distinguish grasses from the plains to higher elevations. 
            
          </p>
          <p>
           <b> The Agasthyamalai Biosphere Reserve </b>is located in the southernmost point of the Western Ghats, covering the states of Tamil Nadu and Kerala between 8째 8' and 9째 10' N and 76째 52' and 77째 34' E. The ABR covers the Tamil Nadu districts of Tirunelveli and Kanyakumari, as well as the Kerala districts of Thiruvananthapuram, Kollam, and Pathanamthitta. Of the 5432.72 km2 of biosphere reserves that have been documented, Tamil Nadu has reported 2561.72 km2 and Kerala has reported 2871 km2.Compared to other Western Ghats endemism locations, this centre has a substantially higher proportion of endemic species.  
          </p>
          <p class="">
            This website serves as a taxonomy reference for the grass family. It will help Students, Researchers and enthusiasts identify a speciesand bettering their comprehension of this fascinating family of monocots.
          </p>
          <a href="#"><button class="btn">Learn More</button></a>
        </div>
      </div>
      <div class="box-container">
        <div class="box">
          <i class="fas fa-users"></i>
          <h3>1000+</h3>
          <p>volunteers</p>
        </div>

        <div class="box">
          <i class="fas fa-tree"></i>
          <h3>1300+</h3>
          <p>trees planted</p>
        </div>
        <div class="box">
          <i class="fas fa-paw"></i>
          <h3>450+</h3>
          <p>animals saved</p>
        </div>
        <div class="box">
          <i class="fas fa-donate"></i>
          <h3>850+</h3>
          <p>donators</p>
        </div>
      </div>
    </section>
    <!-- about section ends -->
    <!-- service section starts -->
    <section class="service" id="service">
      <h1 class="heading">
        <i class="fas fa-quote-left"></i> our services
        <i class="fas fa-quote-right"></i>
      </h1>
      <div class="box-container">
        <div class="box">
          <i class="fas fa-seedling"></i>
          <h3>planting</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus, nemo?
          </p>
          <a href="#">read more>></a>
        </div>
        <div class="box">
          <i class="fas fa-recycle"></i>
          <h3>recycle</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus, nemo?
          </p>
          <a href="#">read more>></a>
        </div>
        <div class="box">
          <i class="fas fa-hand-holding-water"></i>
          <h3>water saving</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus, nemo?
          </p>
          <a href="#">read more>></a>
        </div>
        <div class="box">
          <i class="fas fa-tree"></i>
          <h3>tree saving</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus, nemo?
          </p>
          <a href="#">read more>></a>
        </div>
        <div class="box">
          <i class="fas fa-paw"></i>
          <h3>animals saving</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus, nemo?
          </p>
          <a href="#">read more>></a>
        </div>
        <div class="box">
          <i class="fas fa-solar-panel"></i>
          <h3>solar panel</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus, nemo?
          </p>
          <a href="#">read more>></a>
        </div>
      </div>
    </section>
    <!-- service section ends -->
    <!-- project section starts -->
    <section class="project" id="project">
      <h1 class="heading">
        <i class="fas fa-quote-left"></i> our projects
        <i class="fas fa-quote-right"></i>
      </h1>
      <div class="box-container">
        <div class="box">
          <img
            src="Data base IMAGES 8.9.23/Seeds/Andropogon pumilus/Andropogon pumilus x1.5. FIG 4jpg.jpg"
            alt=""
          />
        </div>
        <div class="box">
          <img
            src="Data base IMAGES 8.9.23/Selected grass trail/Pommerula cornicopiea/1 IMG_7475.JPG"
            alt=""
          />
        </div>
        <div class="box">
          <img src="Data base IMAGES 8.9.23/SH Herbarium/IMG_2360.JPG" alt="" />
        </div>
        <div class="box">
          <img src="Data base IMAGES 8.9.23/SH Herbarium/IMG_2367.JPG" alt="" />
        </div>
        <div class="box">
          <img src="Data base IMAGES 8.9.23/SH Herbarium/IMG_7993.JPG" alt="" />
        </div>
        <div class="box">
          <img
            src="Data base IMAGES 8.9.23/Selected grass trail/Trachys muricata/IMG_8819.JPG"
            alt=""
          />

          <div class="icons">
            <a style="--i: 1" href="#" class="fas fa-heart"></a>
            <a style="--i: 2" href="#" class="fas fa-share"></a>
            <a style="--i: 3" href="#" class="fas fa-comment"></a>
          </div>
        </div>
      </div>
    </section>
    <!-- project section ends -->

    <!-- post section starts -->
    <section class="post" id="post">
      <h1 class="heading">
        <i class="fas fa-quote-left"></i> our recent posts
        <i class="fas fa-quote-right"></i>
      </h1>
      <div class="box-container">
        <div class="box">
          <img
            src="Data base IMAGES 8.9.23/Selected grass trail/Pommerula cornicopiea/1 IMG_7475.JPG"
            alt=""
          />
          <div class="content">
            <span> <i class="fas fa-calendar"></i> jan 2, 2021 </span>
            <h3>post title goes here</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo
              veritatis nostrum voluptates cumque deserunt incidunt, minus
              mollitia rem molestiae ad.
            </p>

            <a href="#"><button class="btn">read more</button></a>
          </div>
        </div>
        <div class="box">
          <img
            src="Data base IMAGES 8.9.23/Home page/Low altitude/IMG_0893.JPG"
            alt=""
          />
          <div class="content">
            <span> <i class="fas fa-calendar"></i> jan 3, 2021 </span>
            <h3>post title goes here</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo
              veritatis nostrum voluptates cumque deserunt incidunt, minus
              mollitia rem molestiae ad.
            </p>

            <a href="#"><button class="btn">read more</button></a>
          </div>
        </div>
        <div class="box">
          <img
            src="Data base IMAGES 8.9.23/Home page/Low altitude/IMG_9276.JPG"
            alt=""
          />
          <div class="content">
            <span> <i class="fas fa-calendar"></i> jan 8, 2021 </span>
            <h3>post title goes here</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo
              veritatis nostrum voluptates cumque deserunt incidunt, minus
              mollitia rem molestiae ad.
            </p>
            <a href="#"><button class="btn">read more</button></a>
          </div>
        </div>
      </div>
    </section>
    <!-- post section ends -->
    <%- include('footer') %>
    <!-- custom js file link -->
    <script src="ref.js"></script>
  </body>
</html>
