<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overview | Grasses of Tamilnadu </title>
    <!-- font awesome cdn link -->

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-
awesome/5.15.2/css/all.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <!-- custom css file link -->
    <link rel="stylesheet" href="style.css" />
  </head>
<%- include('navbar') %>
<center>
    <h2>Overview of Grasses in TamilNadu</h2>
    <h6>The info provided is based on learning experience</h6>
    <br><br><br>
    <h2>FLOWCHART OF GRASSES</h2>
    <h3>Scroll down to view more</h3>
    <!--Mind Map to be uploaded-->
    <img src="" alt="Grass Mindmap">
    <br><br>
    <p>This Mindmap gives a grasp of types of grasses present in Tamilnadu</p>
</center>
<%- include('footer') %>
</html>